@inject IJSRuntime _JSRuntime

<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if (DangerChildContent != null)
        {
            <span>@DangerChildContent</span>
        }
        else
        {
            @if (ChildContent != null)
            {
                <span>@ChildContent</span>
            }
            else
            {
                <span>Empty Render Fragment!</span>
            }
        }
    </div>
    <button class="btn btn-danger" @onclick="Clicked">Button to be clicked</button>

    <_GrandChildComponent></_GrandChildComponent>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public EventCallback Clicked { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public RenderFragment DangerChildContent { get; set;}

    public async Task ToastrSuccess()
    {
        await _JSRuntime.ToastrSuccess("Operation Successful");
    }
}
