<div class="row">
    <h4 class="text-primary ps-4 pt-2 col-12">Grand Child Component</h4>
    <p>There is a message - @MessageForGrandChild</p>
    <p>Number - @Number</p>
</div>

@code {
    [CascadingParameter(Name="message")]
    public string MessageForGrandChild { get; set; }

    [CascadingParameter(Name="number")]
    public string Number { get; set; }
}
