@page "/learnblazor/demoproduct"

<h2 class="text-primary">Demo Product</h2>
<p>Favorites Total: @favorite</p>
<p>Last Selected Product: @lastSelected</p>

<div class="p-2 mt-2 border" style="background-color:azure">
    <div class="row">
        @foreach (Demo_Product product in products)
        {
            <_IndividualProduct Product="product" OnFavoriteSelection="FavoriteCount" OnSelected="Selected">
                <FirstFragment>#1</FirstFragment>
                <SecondFragment>#2</SecondFragment>
            </_IndividualProduct>
        }
    </div>
</div>

@code {
    List<Demo_Product> products = new();
    private int favorite { get; set; } = 0;
    private string lastSelected { get; set; } = "";

    protected override void OnInitialized()
    {
        products.Add(new()
            {
                Id = 1,
                Name = "Midnight Blaze",
                Price = 15.99,
                IsActive = false,
                ProductProperties = new()
            {
                new Demo_ProductProp { Id = 1, Key = "Color", Value = "Purple" },
                new Demo_ProductProp { Id = 2, Key = "Flavor", Value = "Rose" },
                new Demo_ProductProp { Id = 3, Key = "Size", Value = "20oz" }
            }
            });

        products.Add(new()
            {
                Id = 2,
                Name = "Blossom Lily",
                Price = 16.99,
                IsActive = true,
                ProductProperties = new()
            {
                new Demo_ProductProp { Id = 1, Key = "Color", Value = "White" },
                new Demo_ProductProp { Id = 2, Key = "Flavor", Value = "Lily" },
                new Demo_ProductProp { Id = 3, Key = "Size", Value = "18oz" }
            }
            });
    }

    protected void FavoriteCount(bool isSelected)
    {
        if (isSelected)
        {
            favorite++;
        }
        else
        {
            favorite--;
        }
    }

    protected void Selected(string Name)
    {
        lastSelected = Name;
    }
}
